{% extends '_layouts/detail.njk' %}

{% block page_title %}Fear the Kraken{% endblock %}

{% block story %}
  <h2>Fear the Kraken</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Arr American Main scuppers Nelsons folly spanker rope's end nipperkin chase barkadeer coxswain. Run a rig hail-shot lass yard gabion jack aft fluke doubloon gibbet. Jack Tar Chain Shot Buccaneer Barbary Coast spanker scuppers yawl cackle fruit pink code of conduct.Strike colors crack Jennys tea cup rum coffer chantey Jack Tar come about provost Letter of Marque bilged on her anchor. Hulk nipper pink boatswain gangway sutler wench Yellow Jack American Main gun. Long boat lateen sail American Main bilge rat scurvy chantey spike Pieces of Eight to go on account measured fer yer chains.</p>
  <br>
  <img src="img/kraken02.jpg" alt="kraken 2" class="img-fluid">
{% endblock %}