{% extends '_layouts/detail.njk' %}

{% block page_title %}It was a Dark and Stormy Night{% endblock %}

{% block story %}
  <h2>It was a dark and Stormy Night</h2>
  <h5>Captain's log, Oct. 18, 2018</h5>
  <p>Rigging brig carouser mizzen prow hulk sutler Cat o'nine tails Spanish Main lass yard aye. Topgallant list hang the jib jolly boat me gibbet piracy keelhaul line gabion bring a spring upon her cable hands. Scuppers jolly boat ballast wherry Arr Letter of Marque transom gangway clap of thunder swing the lead sheet hearties. Long clothes nipper weigh anchor sheet execution dock clipper bowsprit Gold Road hornswaggle Jack Tar hang the jib pressgang.</p>
  <br>
  <img src="img/kraken01.jpg" alt="kraken 1" class="img-fluid">
{% endblock %}
