{% extends '_layouts/detail.njk' %}

{% block page_title %}Call me Ishmael{% endblock %}

{% block story %}
  <h2>Call me Ishmael</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Hands Sail ho fore brig booty grog Nelsons folly ho port rigging. Code of conduct dead men tell no tales barque aft snow landlubber or just lubber driver careen transom gun. Provost fluke pinnace reef wench pirate lateen sail haul wind draught deadlights.Gaff heave down hornswaggle wench main sheet gunwalls poop deck dead men tell no tales stern flogging. Parley lad grog clipper loot reef sails mizzen man-of-war Davy Jones' Locker gunwalls. Aft pillage brigantine scurvy long boat lad topgallant quarter shrouds trysail.
  </p>
  <br>
  <img src="img/kraken03.jpg" alt="kraken 3" class="img-fluid">
{% endblock %}