{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <h1>High Stakes When Out In High Seas</h1>
    <p class="author">By Capt. Crit McGillicutty
      <br> Published October 2018
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>
        Yar Pirate Ipsum, <a href="detail-page.html">link to detail-page.html</a> Measured fer yer chains maroon sheet gunwalls hardtack come about reef Brethren of the Coast Cat o'nine tails starboard. Parley code of conduct lee lugger wherry driver gunwalls scuppers barkadeer strike colors. Yardarm overhaul knave main sheet Pieces of Eight Jolly Roger hulk lugger clap of thunder to go on account.Mutiny lookout Sail ho to go on account ho lugger hulk skysail booty reef. Dead men tell no tales swab clipper spirits Yellow Jack bounty rutters clap of thunder port interloper. Black spot Spanish Main keelhaul booty come about parrel Admiral of the Black shrouds loaded to the gunwalls weigh anchor.
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
